<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title green"> 
        <% if @team_number %>
        Your team members!
        <% else %>
        How Many Team Members Do You Want?
        <% end %></h3>
    </div>
    <div class="panel-body">
    <br/>
    
        <% if @team_number %>
        <%= render 'home/show_team' %>
        <% else %>
        <%= render 'home/create_team' %>
        <% end %>
    </div>
    <br/>
    
    
    <div class="panel-footer">
    </div>    
    </div>
    
        
 
                           



        
   
               
       
                                      
                                                
                                                 
                                                 
    
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
      
                     
    
    
  
  
   